@page
@model VillaWebApp.Pages.AddVillaModel


<h1>Create Villa</h1>

<form method="post">
<div class="form-group">
         <label>Name</label>
        <input type="text" class="form-control"  asp-for="Villa.Name"/>
        </div>
    <div class="form-group">
         <label>Description</label>
        <input type="text" class="form-control" asp-for="Villa.Details" />
         </div>
    <div class="form-group">
        <label>Rate</label>
        <input type="number" class="form-control"  asp-for="Villa.Rate"/>
        </div>
    <div class="form-group">
        <label>Imageurl</label>
        <input type="text" class="form-control" asp-for="Villa.ImageUrl" />
        </div>
    <div class="form-group">
        <label>Occupancy</label>
        <input type="number" class="form-control" asp-for="Villa.Occupancy" />
        </div>
    <div class="form-group">
        <label>Sqft</label>
        <input type="number" class="form-control" asp-for="Villa.Sqft" />
        </div>
    <div class="form-group">
        <label>Amenities</label>
        <input type="text" class="form-control" asp-for="Villa.Amenity" />
        </div>
        <button type="submit">Save</button>

</div>
</form>
