@page
@model VillaWebApp.Pages.HomeModel


<h1>Home page to display villas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

